---
import { twMerge } from "tailwind-merge";

const { name, type, id, class: className } = Astro.props;
---

<div class={twMerge("relative group z-0", className)}>
    <div class="absolute inset-0 outline outline-2 -outline-offset-2 outline-zinc-700  group-focus-within:outline-fuchsia-500 -z-10"></div>
    
    <input type={type} name={name} id={id} class="w-full bg-transparent h-12 outline-none px-4" />
</div>
