---
import { twMerge } from "tailwind-merge";

const { name, id, class: className } = Astro.props;
---

<div class={twMerge("flex relative group z-0", className)}>
    <div class="absolute inset-0 outline outline-2 -outline-offset-2 outline-zinc-700 group-focus-within:outline-fuchsia-500 -z-10"></div>
    <textarea name={name} id={id} class="w-full bg-transparent outline-none px-4 py-3 min-h-32"></textarea>
</div>
